h1{
    color: coral;
    font: 1em sans-serif;
    font-size: large;
}
body{
    border-color: antiquewhite;
}
p{
    color: black;
    font: 1em sans-serif;
    font-size: medium;

    
}